<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-meridian-ioffice"
        version="0.5.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Meridian SDK for Cordova</name>
    <description>
        Provides Meridian SDK client for Cordova
    </description>
    <license>MIT</license>
    <keywords>meridian</keywords>
    <repo>https://github.com/ioffice/cordova-plugin-meridian-ioffice</repo>
    <issue>https://github.com/ioffice/cordova-plugin-meridian-ioffice/issues</issue>

    <!-- Cordova 6.4.0 and iOS 4.3.0 are required for Cocoapods support -->
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-ios" version=">=4.3.0" />

    <js-module name="MeridianiOFFICE" src="www/MeridianiOFFICE.js">
        <clobbers target="Meridian.iOFFICE" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MeridianiOFFICE">
                <param name="ios-package" value="MeridianiOFFICEPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MeridianiOFFICEPlugin.h" />
        <source-file src="src/ios/MeridianiOFFICEPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="MeridianSDK" spec="~> 6.5.0" />
            </pods>
        </podspec>
        <framework src="MeridianSDK" type="podspec" spec="~> 6.5.0" />
    </platform>
</plugin>
